# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnements
venv/
.env
.pytest_cache/
.coverage

# ML / MLOps
mlruns/
*.log
confusion_matrix.png
feature_importance.png

# Notebooks
.ipynb_checkpoints/
*.ipynb

# IDE / OS
.vscode/
.DS_Store

# Secrets
azure-credentials.json
*.secret
*.key
*.pem
